<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{{ t.title }}</title>
</head>
<body>
    <div class="menu-bar">
        <div class="menu-item">{{ t.menu_file }}
            <div class="dropdown">
                <div>{{ t.item_add }}</div>
                <div>{{ t.item_edit_tickers }}</div>
                <div onclick="window.location.href='/settings'">{{ t.item_settings }}</div>
            </div>
        </div>

        <div class="menu-item">{{ t.menu_edit }}
            <div class="dropdown">
                <div>{{ t.item_cut }}</div>
                <div>{{ t.item_copy }}</div>
                <div>{{ t.item_paste }}</div>
            </div>
        </div>

        <div class="menu-item">{{ t.menu_view }}
            <div class="dropdown">
                <div onclick="location.reload()">{{ t.item_refresh }}</div>
            </div>
        </div>

        <div class="menu-item">{{ t.menu_help }}
            <div class="dropdown">
                <div onclick="window.open('/show-log', '_blank')">{{ t.item_show_log }}</div>
                <div>{{ t.item_about }}</div>
            </div>
        </div>
    </div>

    <div class="content">
        <h1>{{ t.title }}</h1>
        <p>Welcome to RateEye.</p>
    </div>
</body>
</html>